div {
  border-radius: 5px;
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gameOver {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
